@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Outfit", sans-serif;
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/70 backdrop-blur-lg border border-white/50 shadow-xl;
  }

  .glass-input {
    @apply bg-white/50 border border-white/60 focus:bg-white/80 focus:border-indigo-400 focus:ring-2 focus:ring-indigo-200 outline-none backdrop-blur-md transition-all placeholder:text-slate-400;
  }

  .mesh-bg {
    background-color: #4f46e5;
    background-image:
      radial-gradient(at 40% 20%, hsla(253, 100%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(223, 100%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(333, 100%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(280, 100%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(208, 100%, 74%, 1) 0px, transparent 50%),
      radial-gradient(
        at 80% 100%,
        hsla(300, 100%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 0%, hsla(289, 100%, 74%, 1) 0px, transparent 50%);
  }
}
